@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

html {
  box-sizing: border-box;
  background-color: #ebedee;
}

body {
  margin: 0;
  /* background: rgb(251,248,255);
  background: -moz-linear-gradient(0deg, rgba(251,248,255,1) 0%, rgba(235,231,254,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(251,248,255,1) 0%, rgba(235,231,254,1) 100%);
  background: linear-gradient(0deg, rgba(251,248,255,1) 0%, rgba(235,231,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbf8ff",endColorstr="#ebe7fe",GradientType=1);  */
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask6444%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient6445%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L41.28 0L0 130.96z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 130.96L41.28 0L123.73 0L0 197.54000000000002z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 197.54000000000002L123.73 0L702.12 0L0 385.68z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 385.68L702.12 0L994.77 0L0 456.57z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1008.04 560L1440 527.33z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 527.33L1008.04 560L621.77 560L1440 391.53000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 391.53L621.77 560L298.18 560L1440 198.16999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 198.16999999999996L298.18000000000006 560L252.87000000000006 560L1440 130.89999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask6444'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6445'%3e%3cstop stop-color='rgba(253%2c 251%2c 251%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 237%2c 238%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2886%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2887%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L814.57 0L1440 116.21z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M814.57 0L1440 116.21L1440 316.21L620.3700000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M620.3700000000001 0L1440 316.21L1440 345.88L239.2600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M239.26000000000022 0L1440 345.88L1440 458.6L228.1100000000002 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L510.96 560L0 331.76z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 331.76L510.96 560L865.79 560L0 203.93z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 203.93L865.79 560L886.8199999999999 560L0 150.14000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 150.14L886.8199999999999 560L1115.49 560L0 116.77999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2886'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2887'%3e%3cstop stop-color='rgba(253%2c 170%2c 149%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(118%2c 101%2c 204%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
}

.navbar {
  padding: 40px 100px 0 100px;
  text-align: right;

}

.nav-link {
  font-size: 16px;
  margin: 0 0 40px 0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


/* Main page */

.homepage {
  align-items: center;
}

h1,
h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0A1334;
}

h1 {
  font-size: 60px;
}

#main {
  text-align: center;
}

#main span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #0A1334;
}

a {
  margin: 50px 50px;
  padding: 50px auto;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: #0A1334;
  text-decoration: none;
  font-size: 24px;
}


/* Animations */

.lineup-title {
  animation: 2s anim-lineUp ease-in-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.lineup-subtitle {
  animation: 4s anim-lineUp ease-in-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide {
  transition: transform 500ms;
  transition-timing-function: ease-in-out;
}

.slide:hover {
  transform: translateY(-10px);
  color: #f2275a;
}


/* Home Button */



/* .home-button {
  position: absolute;
  left: 80%;
  bottom: 85%;
}

.home-button a {
  font-size: 16px;
} */



/* Projects General Page*/

#projects-general {
  text-align: center;
}

#projects-general span:hover {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #0A1334;
}

ul a {
  margin: 0;
  font-size: 60px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0A1334;
  text-decoration: none;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #0A1334;
}



/* About */

#about {
  text-align: justify;
  margin: 0 200px 100px 200px;
}

#about h1,
#contact h1 {
  margin: 30px auto;
}

#about span,
#contact span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #0A1334;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: #0A1334;
}

.link {
  margin: 30px 0;
  padding-right: 40px;
}

.here {
  font-weight: 900;
  cursor: pointer;
}

.description-about {
  display: inline-block;
  width: 50%;
}

.profile {
  display: inline-block;
  padding-right: 50px;
}



/* Contact */

.email span:hover {
  color: #f2275a;
}

#contact {
  text-align: justify;
  margin: 0 200px 100px 200px;
}

/* button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
}

.email:hover span {
  display: none;
}

.email:hover:before {
  content: "Click to copy";
  color: #0A1334;
  cursor: pointer;
} */



/* Projects Individual Page */

#projects-individual {
  text-align: justify;
  margin: 0 200px 100px 200px;
}

#projects-individual h1 {
  margin: 50px 50px 0 50px;
}

#projects-individual span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #0A1334;
}

#projects-individual h3 {
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #0A1334;
}

.project-image {
  margin: 50px 0 0 0;
  text-align: center;
}

.project-image img {
  width: 1150px;
}

.project-body {
  margin: 0 150px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin: 50px 0 0 0;
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #0A1334;
}

.project-description {
  margin-bottom: 100px;
}

.project-links {
  padding: 0 50px 0 0;
  /* margin-bottom: 100px; */
  font-size: 25px;
}






/* Mobile View */

@media only screen and (max-width: 768px) {

  /* Main page */

  h1 {
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    padding: 0 20px;
  }

  a {
    font-size: 20px;
    margin: 40px;
  }

  .mobile-link1 {
    margin-top: 50px;
  }

  .mobile-link2 {
    margin-top: 0;
    margin-bottom: 100px;
  }


  /* Home Button */

  .home-button {
    left: 60%;
  }


  /* Projects Genaral Page*/

  ul {
    padding: 30px;
  }

  ul a {
    -webkit-text-fill-color: #0A1334;
    -webkit-text-stroke-width: 0;
    font-size: 35px;
  }

  ul h4 {
    font-size: 14px;
    margin-bottom: 40px;
  }


  /* Projects Individual Page */

  #projects-individual {
    margin: 100px 0;
  }

  #projects-individual h1 {
    font-size: 35px;
    text-align: left;
    margin: 50px 20px 0 20px;
  }

  .image {
    margin: 0;
  }

  .project-image {
    margin: 50px 0;
  }

  .project-image img {
    width: 100%;
    padding: 0;
  }

  .projectLinks {
    margin: 0 40px;
  }

  .project-body {
    margin: 0;
  }

  .project-title {
    font-size: 28px;
    margin: 50px 40px 10px 40px;
  }

  .project-description {
    margin: 0 40px;
  }

  .project-links {
    margin: 20px 0;
    padding: 0;
  }

  .project-link1,
  .project-link2 {
    font-size: 20px;
  }


  /* About me */

  #about {
    margin: 120px 40px 50px 40px;
  }

  #about h1 {
    font-size: 35px;
    padding: 0;
  }

  .description-about {
    display: block;
    width: 100%;
  }

  .profile {
    padding: 0;
    margin: 20px 0;
  }

  .profile img {
    display: block;
    width: 100%;
  }


  /* Contact me */

  #contact {
    position: absolute;
    top: 13%;
  }

  #contact h1 {
    font-size: 35px;
    padding: 0;
    margin: 30px 40px;
  }

  .contact-description {
    margin: 0 40px;
    text-align: justify;
  }

  .contact-links {
    margin: 50px 40px 0 40px;
  }

  .contact-links a {
    display: block;
  }

}

@media only screen and (max-width: 480px) {

  h1,
  ul a,
  #about h1,
  #contact h1,
  #projects-individual h1 {
    font-size: 30px;
  }

  #projects-individual h3 {
    margin-left: 40px;
    font-size: 16px;
  }

  .project-links {
    font-size: 18px;
  }
}