@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

html {
  box-sizing: border-box;
  background-color: #667791;
}

body {
  /* overflow: hidden; */
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(245, 247, 250);
  background: -moz-linear-gradient(135deg, rgba(245, 247, 250, 1) 0%, rgba(195, 207, 226, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(245, 247, 250, 1) 0%, rgba(195, 207, 226, 1) 100%);
  background: linear-gradient(135deg, rgba(245, 247, 250, 1) 0%, rgba(195, 207, 226, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f7fa", endColorstr="#c3cfe2", GradientType=1);
}


/* Main page */

h1,
h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #667791;
}

h1 {
  font-size: 60px;
}

.main {
  text-align: center;
}

.main span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #667791;
}

a {
  margin: 50px 50px;
  padding: 50px auto;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: #667791;
  text-decoration: none;
  font-size: 25px;
}


/* Animations */

.lineup-title {
  animation: 2s anim-lineUp ease-in-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.lineup-subtitle {
  animation: 4s anim-lineUp ease-in-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide {
  transition: transform 500ms;
  transition-timing-function: ease-in-out;
}

.slide:hover {
  transform: translateY(-10px);
}


/* Home Button */

.home-button {
  position: absolute;
  left: 80%;
  bottom: 85%;
}

.home-button a {
  font-size: 16px;
}



/* Projects General Page*/

#projects-general {
  text-align: center;
}

#projects-general span:hover {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #667791;
}

ul a {
  margin: 0;
  font-size: 60px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #667791;
  text-decoration: none;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #667791;
}



/* About */

#about {
  text-align: justify;
  margin: 100px 200px;
}

#about h1,
#contact h1 {
  margin: 30px auto;
}

#about span,
#contact span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #667791;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: #667791;
}

.link {
  padding: 0 50px 0 0;
  margin: 30px 0;
  font-size: 16px;
}

.here {
  font-weight: 900;
  cursor: pointer;
}

.description-about {
  display: inline-block;
  width: 50%;
}

.profile {
  display: inline-block;
  padding-right: 50px;
}



/* Contact */

/* button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
}

.email:hover span {
  display: none;
}

.email:hover:before {
  content: "Click to copy";
  color: #667791;
  cursor: pointer;
} */



/* Projects Individual Page */

#projects-individual {
  text-align: justify;
  margin: 100px 200px;
}

#projects-individual h1 {
  margin: 50px 50px 0 50px;
}

#projects-individual span {
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #667791;
}

#projects-individual h3 {
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #667791;
}

.project-image {
  margin: 150px 0 100px 0;
  text-align: center;
}

.project-image img {
  width: 1150px;
}

.project-body {
  margin: 0 150px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin: 40px 0 0 0;
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #667791;
}

.project-description {
  margin-bottom: 100px;
}

.project-links {
  padding: 0 50px 0 0;
  margin-bottom: 100px;
  font-size: 25px;
}






/* Mobile View */

@media only screen and (max-width: 700px) {

  /* Main page */

  html {
    min-width: 100vw;
  }

  h1 {
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    padding: 0 20px;
  }

  a {
    font-size: 20px;
    margin: 40px;
  }

  .mobile-link1 {
    margin-top: 50px;
  }

  .mobile-link2 {
    margin-top: 0;
    margin-bottom: 100px;
  }


  /* Home Button */

  .home-button {
    left: 60%;
  }


  /* Projects Genaral Page*/

  ul {
    padding: 30px;
  }

  ul a {
    -webkit-text-fill-color: #667791;
    -webkit-text-stroke-width: 0;
    font-size: 35px;
  }

  ul h4 {
    font-size: 14px;
    margin-bottom: 40px;
  }


  /* Projects Individual Page */

  #projects-individual {
    margin: 100px 0;
  }

  #projects-individual h1 {
    font-size: 35px;
    text-align: left;
    margin: 50px 20px 0 20px;
  }

  .image {
    margin: 0;
  }

  .project-image {
    margin: 50px 0;
  }

  .project-image img {
    width: 100%;
    padding: 0;
  }

  .projectLinks {
    margin: 0 40px;
  }

  .project-body {
    margin: 0;
  }

  .project-title  {
    font-size: 28px;
    margin: 50px 40px 10px 40px;
  }

  .project-description {
    margin: 0 40px;
  }

  .project-links {
    margin: 20px 0;
    padding: 0;
  }

  .project-link1, .project-link2 {
    font-size: 20px;
  }


  /* About me */

  #about {
    margin: 120px 40px 50px 40px;
  }

  #about h1 {
    font-size: 35px;
    padding: 0;
  }

  .description-about {
    display: block;
    width: 100%;
  }

  .profile {
    padding: 0;
    margin: 20px 0;
  }

  .profile img {
    display: block;
    width: 100%;
  }


  /* Contact me */

  #contact {
    position: absolute;
    top: 13%;
  }

  #contact h1 {
    font-size: 35px;
    padding: 0;
    margin: 30px 40px;
  }

  .contact-description {
    margin: 0 40px;
    text-align: justify;
  }

  .contact-links {
    margin: 50px 40px 0 40px;
  }

  .contact-links a {
    display: block;
  }

}

@media only screen and (max-width: 480px) {

  html {
    min-width: 100vw;
  }

  h1, ul a, #about h1, #contact h1, #projects-individual h1 {
    font-size: 30px;
  }

  #projects-individual h3 {
    margin-left: 40px;
    font-size: 16px;
  }

  .project-links {
    font-size: 18px;
  }
}