/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #000;
    font-family: roboto, sans-serif;
}

a {
    color: #fff;
    font-size: 130px;
    font-weight: 700;
    margin: 0;
    display: block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hello,
.iam,
.name {
    text-decoration: none;
    transition: transform 500ms;
}

.iam,
.name {
    color: palevioletred;
}

.hello:hover span,
.iam:hover span,
.name:hover span {
    display: none;
}

.hello:hover,
.iam:hover,
.name:hover {
    transform: translateX(70px);
}

.hello:hover:before {
    content: "About"
}

.iam:hover:before {
    content: "Projects"
}

.name:hover:before {
    content: "Contact"
}

/* Contact */

.homeButton {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    margin: 100px 200px 100px 0;
    transition: transform 500ms;
}

.homeButton:hover {
    transform: translateX(-40px);
}

.contact-title {
    font-size: 50px;
    margin: 150px 300px 100px 300px;
}

.contact-p {
    margin: 0 300px 100px 400px;
    line-height: 2rem;
    font-size: 20px;
}

.contact-list {
    margin: 0 300px 100px 400px;
}

.contact-list a, button {
    font-size: 20px;
    color: palevioletred;
    text-decoration: none;
    line-height: 4rem;
    font-weight: 700;
    transition: transform 500ms;
}

.contact-list button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.contact-list a:hover, button:hover {
    transform: translateX(40px);
}

button:hover span {
    display: none;
}

button:hover:before {
    content: "Copy to clipboard";
}