@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;700;800;900&display=swap');

:root {
  --primaryColor: #37474F;
  --bg1: #d6718d;
  --bg2: #e3e9f3;
  --navColor1: #d47590;
  --navColor2: #c086a6;
  --navColor3: #ac9bbc;
  --navColor4: #9daacf;
  --navColor5: #95c3e9;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--primaryColor);
  font-family: Open-Sans, sans-serif;

}

/* --- Navigation Menu ------------------------------ */

/* Overlay */

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.7); */
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translate(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translate(-100vw);
}

/* Nav Menu Items */

nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 45%;
  color: var(--bg2);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: var(--bg2);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each nav item*/

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item*/

.slide-out-1 {
  animation: slide-out 3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: var(--primaryColor);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

.logo {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
}

h1,
h2,
a {
  font-family: Poppins, sans-serif;
}

p {
  line-height: 1.7rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  color: var(--primaryColor);
}

.section-title {
  font-size: 3rem;
  margin: 0;
}


/* Home */

#home {
  flex-direction: column;
  justify-content: end;
  align-items: left;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.title-main {
  margin-left: 150px;
  margin-bottom: 150px;
}

#home h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--primaryColor);
}

#home h2 {
  font-size: 2rem;
  color: var(--primaryColor);
}


/* About */

#about {
  background-color: var(--bg2);
  color: var(--primaryColor);
  align-items: center;
  flex-direction: row;
}

#about img {
  height: 100%;
}

.profile-description {
  margin: 0 100px;
  text-align: justify;
}

.resume {
  color: var(--primaryColor);
  display: block;

}


/* Skills */

#skills {
  background-color: var(--bg1);
  color: var(--bg2);
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#skills h1 {
  margin: 0 70px;
}

.skills-list {
  list-style: none;
  margin-left: 150px;
  font-size: 2rem;
  font-weight: 700;
}

.skills-list li {
  margin-top: 70px;
}

hr {
  width: 700px;
  border: 2px solid var(--bg2);
}

.last-line {
  margin-bottom: 70px;
}


/* Projects */

#projects {
  background-color: var(--bg2);
  color: #37474F;
  justify-content: left;
  align-items: center;
}

#projects h1 {
  margin: 0 70px;
}

.projects-list {
  list-style: none;
  margin-left: 30px;
  font-size: 4.3rem;
  font-weight: 700;
}

.projects-list li {
  margin-bottom: 50px;
}

.projects-list a {
  text-decoration: none;
  color: var(--primaryColor);
}

.projects-list span {
  font-size: 18px;
}

/* Contact */

#contact {
  background-color: var(--bg1);
  color: var(--bg2);
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 80vh;
}

#contact h1 {
  margin: 0 70px;
  text-align: left;
}

.contact-info {
  margin-left: 80px;
}

.contact-info p {
  margin-bottom: 50px;
}

.contact-list {
  padding: 0;
}

.contact-list ul {
  list-style: none;
}

.contact-list li {
  margin-bottom: 40px;
  list-style: none;
}

.contact-list li a {
  text-decoration: none;
  color: var(--bg2);
}


/* Footer */

#footer {
  background-color: var(--bg1);
  height: 20vh;
  justify-content: center;
}

#footer hr {
  color: var(--bg2);
  width: 90vw;
  border: 2px solid var(--bg2);
  margin-top: 60px;
}

.copyright h3 {
  color: var(--bg2);
  margin-top: 20px;
}






/* Project Page */

#project {
  color: var(--primaryColor);
  background-color: var(--bg2);
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
}

.project-info {
  padding-left: 120px;
}

.project-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-links {
  margin-top: 20px;
}

#project img {
  width: 65%;
}

#project h1 {
  margin-right: 80px;
  font-size: 2rem;
  font-weight: 700;
}

#project h1 span {
  font-size: 16px;
}

#project h1,
h4 {
  color: var(--primaryColor);
  display: inline;
}

#project a {
  text-decoration: none;
  color: var(--primaryColor);
  display: block;
  margin-bottom: 20px;
}

#project-text {
  background-color: var(--bg1);
  color: var(--bg2);
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.project-text {
  padding: 40px 120px;
}

.project-text p {
  margin-bottom: 50px;
}


/* Media Query: Small Laptop/ Tablet */
@media only screen and (min-width: 1030px) and (max-width: 1369px) {

  p {
    line-height: 1.7rem;
    font-size: 14px;
  }

  .section-title {
    font-size: 1.6rem;
  }

  #home h1 {
    font-size: 5rem;
  }

  #home h2 {
    font-size: 1.5rem;
  }

  .profile-description {
    margin: 0 50px;
  }

  .skills-list {
    margin-left: 80px;
  }

  .skills-list li {
    margin-top: 30px;
  }

  hr {
    width: 600px;
    margin: 0;
  }

  .projects-list {
    margin-left: 50px;
    font-size: 3rem;
  }

  .contact-info {
    margin-left: 75px;
  }

  .contact-info p {
    margin-top: 40px;
  }

  #project {
    height: 100%;
    padding: 100px 0;
  }

  #project img {
    width: 40%;
    margin-top: 40px;
  }

  .project-info {
    padding-left: 120px;
  }

  #project-text {
    height: 100%;
  }

  #footer {
    height: 100%;
    padding: 40px 0;
  }

}


@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1029px) {

  #home {
    justify-content: center;
    align-items: left;
  }

  #home h1 {
    font-size: 4rem;
  }

  #home h2 {
    font-size: 1.3rem;
  }

  .title-main {
    margin-left: 100px;
    margin-bottom: 0;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .profile-description {
    margin: 70px;
  }

  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #about img {
    width: 100%;
  }

  .skills-list {
    margin-left: 40px;
  }

  hr {
    width: 300px;
  }

  .projects-list {
    margin-left: 10px;
    font-size: 3rem;
  }

  .contact-info {
    margin-left: 75px;
  }

  #project {
    height: 100%;
    padding: 200px 0;
  }

  #project img {
    width: 80%;
  }

  .project-info {
    padding-left: 120px;
  }
}



/* Media Query: Large Smartphone (Vertical) */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  p {
    font-size: 16px;
  }

  .section-title {
    margin: 30px 20px;
    text-align: center;
    font-size: 2.5rem;
  }


  /* Home */

  #home {
    justify-content: center;
    align-items: center;
  }

  #home a {
    top: 1rem;
    left: 1rem;
  }

  #home h1 {
    font-size: 3rem;
  }

  #home h2 {
    font-size: 2rem;
  }

  .title-main {
    margin: 0;
    text-align: center;
    padding: 0 20px;
  }


  /* About */

  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #about img {
    width: 100%;
  }

  .profile-description {
    margin: 0 40px;
  }

  .resume {
    margin: 40px 0;
  }


  /* Skills */

  #skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-list {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .skills-list li {
    margin-top: 50px;
  }

  hr {
    width: 200px;
  }

  .last-line {
    margin-bottom: 0;
  }


  /* Projects */

  #projects {
    flex-direction: column;
    justify-content: center;
  }

  #projects h1 {
    margin: 50px 0px;
    text-align: center;
  }

  .projects-list {
    margin: 0 50px;
    font-size: 2rem;
    padding: 0;
    text-align: left;
  }


  /* Contact */

  #contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact h1 {
    margin: 0;
  }

  .contact-info {
    margin: 0 40px;
    text-align: center;
  }


  /* Footer */

  .copyright h3 {
    text-align: center;
  }


  /* Project */

  #project img {
    width: 100%;
    padding-top: 50px;
  }

  #project h1 {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .project-description,
  .project-links {
    padding: 0 50px;
    margin-top: 50px;
  }

  .project-description h4 {
    font-size: 0.8rem;
  }

  #project-text {
    height: 100%;
  }

  .project-text {
    padding: 50px;
  }

}